/* Global variables */
:root {
    --primary: #009688; /* Teal */
    --primary-light: #e0f2f1; /* Teal (light) */
    --accent: #ffc107; /* Yellow */
    --warn: #d32f2f; /* Red */
    --foreground: #ffffff; /* White */
    --background: #ffffff; /* White */
    --border: #e0e0e0; /* light grey */
    --text: rgba(0, 0, 0, 0.67);
    --text-dark: rgba(0, 0, 0, 0.87);
    --text-primary: #ffffff;}


/* General */
html, body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--text);
}

.outline-button {
    margin-top: 12px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    color: var(--primary);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    transition: all 0.2s ease-in-out;
}

.outline-button:hover:enabled, .outline-button:focus:enabled{
    color: var(--primary);
    background-color: var(--primary-light);
    outline: none;
}

.outline-button[disabled] {
    color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

/* Error */
.error {
    color: var(--warn);
}

/* Login */
.login-card {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
}

.login-header {
    font-size: 32px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-user-select {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 24px;
}

.login-user-select:focus {
    outline: none;
}


/* Nav */
.nav-container {
    flex: 1;
    height: 64px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    text-align: center;
    padding: 8px 16px;
    margin-left: 8px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--text);
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--text-dark);
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-link-active, .nav-link-active:hover {
    color: var(--primary);
    background-color: var(--primary-light);
}

.user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user-name-info {
    margin-left: 16px;
}

.user-name {
    font-weight: 500;
    font-size: 16px;
}

.logout-button {
    font-size: 12px;
    cursor: pointer;
}

.logout-button:hover {
    text-decoration: underline;
}

/* NewQuestion */
.question-form {
    width: 400px;
    text-align: center;

}

.question-label {
    margin: 0;
}

.question-input {
    width: calc(100% - 24px);
    border: 1px solid var(--border);
    border-radius: 4px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 14px;
    color: var(--text);
    margin: 24px 0;
}

.question-input:focus {
    outline: none;
}

/* Dashboard */
.dashboard-question-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 600px;
}

.dashboard-question-toggle-button {
    width: calc(50% - 24px);
}

.dashboard-question-toggle-button[data-active=true] {
    background-color: var(--primary-light);
}

.question-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* QuestionCard */
.question-card {
    min-width: 600px;
    border-radius: 4px;
    border: 1px solid var(--border);
    margin-bottom: 32px;
}

.question-card-header {
    border-bottom: 1px solid var(--border);
    background-color: #f2f2f2;
    padding: 0 32px;
    height: 40px;
    line-height: 40px;
}

.question-card-header > h3 {
    margin: 0;
}

.question-card-content {
    padding: 32px;
    display: flex;
    align-items: center;
}

.question-card-details {
    padding-right: 32px;
}

.question-card-avatar {
    width: 96px;
    height: 96px;
    border-radius: 96px;
}

.question-card-body {
    padding-left: 32px;
    flex: 1;
    border-left: 1px solid var(--border);
}

/* QuestionPreview */
.question-preview-header {
    margin: 0;
}

.question-preview-body {
    margin: 16px 0;
}

.question-preview-button {
    width: 100%;
    height: 32px;
    margin-top: 0;
}

/* QuestionForm */
.question-response-form {
    width: 100%;
}

.question-response-form-title {
    margin-top: 0;
}

.question-option {
    margin-top: 12px;
}

.question-option > label {
    margin-left: 12px;
}

/* QuestionResult */
.question-result-container {
    width: 100%;
}

.question-result-title {
    margin-top: 0;
}

.question-result-item {
    flex: 1;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 12px;
    margin-top: 24px;
}

.question-result-item[data-active=true] {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--primary-light);
}

.question-result-text {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
}

.question-result-count {
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.question-result-badge {
    float: right;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 4px 8px;
}

/* ProgressBar */
.progress-bar {
    width: 100%;
    height: 32px;
    position: relative;
    border-radius: 8px;
    color: var(--primary);
    background-color: var(--primary-light);
    border: 1px solid var(--primary);
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
    line-height: 32px;
}

.progress-bar-fill {
    height: 32px;
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--primary);
    color: #ffffff;
    border-radius: 2px;
    font-weight: 500;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Leaderboard */
.result-body {
    border-right: 1px solid var(--border);
    padding-right: 24px;
}

.result-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
    font-size: 14px;
}

.result-count-answered {
    border-bottom: 1px solid var(--border);
}

.result-score-container {
    padding-left: 24px;
    text-align: center;
}

.result-score {
    color: var(--primary);
    background-color: var(--primary-light);
    border-radius: 64px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
}
